
.RightSidebar .react-colorful__hue-pointer {
  width: 1.4rem;
  height: 1.2rem;
  border:none;
  border-radius: 0.4rem;
  box-shadow: 0 0 0 0.25rem #ffffff;
  cursor: pointer;
}

.RightSidebar .react-colorful__saturation-pointer  {
  width: 1.2rem;
  height: 1.2rem;
  border:none;
  box-shadow: 0 0 0 0.25rem #ffffff;
  border-radius: 0.4rem;
  cursor: pointer;
}
.RightSidebar .react-colorful__last-control {
  height: 1.2rem;
}
