body {
  margin: 0;
  font-family: 'Roboto', 'Nunito';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 13px;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 6px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
